In [2]:
# manually construct tfidf method from scratch

In [3]:
# https://www.kaggle.com/shivamkushwaha/bbc-full-text-document-classification
!wget -nc https://lazyprogrammer.me/course_files/nlp/bbc_text_cls.csv

File 'bbc_text_cls.csv' already there; not retrieving.

In [4]:
import pandas as pd
import numpy as np
import nltk

from nltk import word_tokenize

In [5]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\Yuan
[nltk_data]     Liang\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [6]:
df = pd.read_csv('bbc_text_cls.csv')

In [7]:
df.head()

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business

In [8]:
# populate word2idx
# convert documents into sequences of ints / ids / indices
idx = 0
word2idx = {}
tokenized_docs = []

for doc in df['text']:
    words = word_tokenize(doc.lower())
    doc_as_int = []
    for word in words:
        if word not in word2idx:
            word2idx[word] = idx
            idx += 1

        # save for later
        doc_as_int.append(word2idx[word])
    tokenized_docs.append(doc_as_int)

In [9]:
# reverse mapping
idx2word = {v:k for k, v in word2idx.items()}

In [10]:
# number of documents
N = len(df['text'])

In [11]:
# number of words
V = len(word2idx)

In [12]:
# instantiate term-frequency matrix
tf = np.zeros((N, V))

In [13]:
# populate term-frequency counts
for i, doc_as_int in enumerate(tokenized_docs):
    for j in doc_as_int:
        tf[i, j] += 1

In [14]:
# compute IDF
document_freq = np.sum(tf > 0, axis=0) #document frequency (shape = (V,))
idf = np.log(N / document_freq)

In [15]:
# compute TF-IDF
tf_idf = tf * idf

In [16]:
np.random.seed(123)

In [20]:
# pick a random document, show the top 5 terms (in terms of tf_idf score)
i = np.random.choice(N)
row = df.iloc[i]
print('Label:', row['labels'])
print('Text:', row['text'].split('\n', 1)[0])
print('Top 5 terms:')

scores = tf_idf[i]
indices = (-scores).argsort()

for j in indices[:5]:
    print(idx2word[j])

Label: tech
Text: IBM puts cash behind Linux push
Top 5 terms:
linux
ibm
workplace
software
programs